In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from zipfile import ZipFile
import configparser
import os

import boto3
!pip3 install datetime
from datetime import datetime as dt
import time

Collecting datetime
  Downloading https://files.pythonhosted.org/packages/73/22/a5297f3a1f92468cc737f8ce7ba6e5f245fcfafeae810ba37bd1039ea01c/DateTime-4.3-py2.py3-none-any.whl (60kB)
    100% |████████████████████████████████| 61kB 5.5MB/s ta 0:00:011
Requirement already satisfied: pytz in /opt/conda/lib/python3.6/site-packages (from datetime) (2017.3)
Collecting zope.interface (from datetime)
  Downloading https://files.pythonhosted.org/packages/67/67/8178e511cd4f0a481082aac1c0e2d64c520a5ee92ea8ce42d8297a4fca7e/zope.interface-5.4.0-cp36-cp36m-manylinux1_x86_64.whl (251kB)
    100% |████████████████████████████████| 256kB 13.5MB/s ta 0:00:01
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from zope.interface->datetime) (38.4.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.3 zope.interface-5.4.0

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

song_data = config.get('S3_Input', 'Song_Data')
song_data_test = config.get('S3_Input', 'Song_Data_Test')

log_data = config.get('S3_Input', 'Log_Data')

output_data = config.get('S3_Output', 'Output_Data')

info_list = [os.environ['AWS_ACCESS_KEY_ID'], os.environ['AWS_SECRET_ACCESS_KEY'], song_data, song_data_test, log_data, output_data]

for item in info_list:
    print(item)

AKIAV565JVOFR22OXGG5
70e/pw0lw1YwOy5njkRVsnqIC5F5EH25lWzRs2hk
s3a://udacity-dend/song_data/*/*/*/*.json
s3a://udacity-dend/song_data/A/A/A/*.json
s3a://udacity-dend/log_data/*/*/*.json
s3a://uda-data-lake-test/output_data/

In [3]:
s3 = boto3.resource('s3')
my_bucket = s3.Bucket('udacity-dend')

for file in my_bucket.objects.filter(Prefix='song_data/A/A/A'):
    print(file)

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAFD128F92F423A.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAGR128F425B14B.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAHD128F42635A5.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAHJ128F931194C.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAHZ128E0799171.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAIR128F1480971.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAJN128F428E437.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAND12903CD1F1B.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAANK128F428B515.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAOF128F429C156.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAPK128E0786D96.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAQN128F9353BA0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAQO12903CD8E1C.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAUC128F428716F.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAUR128F428B1FA.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAYL128F4271A5B.json')

In [4]:
for file in my_bucket.objects.filter(Prefix='log_data/'):
    print(file)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [5]:
# https://www.programiz.com/python-programming/datetime/strftime

date_created = dt.now().strftime('%Y-%m-%d-%H-%M-%S-%f')
date_created

'2021-06-15-13-25-04-356593'

In [6]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

# Load Songs Data

In [7]:
# Used song_data_test to test
# Use song_data instead when use EMR ------ takes several minutes

song_data = song_data_test
print("Reading song_data files from {}...".format(song_data))
date_started = dt.now()
time_started = time.time()
song_data_df = spark.read.json(song_data_test)
date_done = dt.now()
time_done = time.time()
time_taken = time_done - time_started
date_taken = date_done - date_started

print(time_taken)
print(date_taken)

Reading song_data files from s3a://udacity-dend/song_data/A/A/A/*.json...
18.8809015750885
0:00:18.880886

In [15]:
date_taken.miliseconds

AttributeError: 'datetime.timedelta' object has no attribute 'miliseconds'

In [13]:
days, seconds = date_taken.days, date_taken.seconds
print(seconds)
hours = days * 24 + seconds // 3600
minutes = (seconds % 3600) // 60
seconds = seconds % 60

18

In [14]:
print(f"it took {days} days and {seconds} seconds")

it took 0 days and 18 seconds

In [8]:
song_data_df.printSchema()
song_data_df.limit(5).toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARTC1LV1187B9A4858,51.45360,"Goldsmith's College, Lewisham, Lo",-0.01802,The Bonzo Dog Band,301.40036,1,SOAFBCP12A8C13CC7D,King Of Scurf (2007 Digital Remaster),1972
1,ARA23XO1187B9AF18F,40.57885,"Carteret, New Jersey",-74.21956,The Smithereens,192.52200,1,SOKTJDS12AF72A25E5,Drown In My Own Tears (24-Bit Digitally Remast...,0
2,ARSVTNL1187B992A91,51.50632,"London, England",-0.12714,Jonathan King,129.85424,1,SOEKAZG12AB018837E,I'll Slap Your Face (Entertainment USA Theme),2001
3,AR73AIO1187B9AD57B,37.77916,"San Francisco, CA",-122.42005,Western Addiction,118.07302,1,SOQPWCR12A6D4FB2A3,A Poor Recipe For Civic Cohesion,2005
4,ARXQBR11187B98A2CC,NaN,"Liverpool, England",NaN,Frankie Goes To Hollywood,821.05424,1,SOBRKGM12A8C139EF6,Welcome to the Pleasuredome,1985

In [9]:
song_pandas = song_data_df.toPandas()
song_pandas['song_id'].nunique()

24

# Create Song and Artist Tables
## Output tables in Parquet Files

In [10]:
# Create Song Data Table parquet file
song_data_df.createOrReplaceTempView("song_data_DF")

song_table = spark.sql("""
    SELECT  DISTINCT song_id, 
            title, 
            artist_id, 
            year, 
            duration
    FROM song_data_DF
    ORDER BY song_id
    """)

song_table.printSchema()
song_table.limit(5).toPandas()

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: long (nullable = true)
 |-- duration: double (nullable = true)

,song_id,title,artist_id,year,duration
0,SOABWAP12A8C13F82A,Take Time,AR5LMPY1187FB573FE,1978,258.89914
1,SOAFBCP12A8C13CC7D,King Of Scurf (2007 Digital Remaster),ARTC1LV1187B9A4858,1972,301.40036
2,SOAPERH12A58A787DC,The One And Only (Edited),ARZ5H0P1187B98A1DD,0,230.42567
3,SOBLFFE12AF72AA5BA,Scream,ARJNIUY12298900C91,2009,213.94240
4,SOBRKGM12A8C139EF6,Welcome to the Pleasuredome,ARXQBR11187B98A2CC,1985,821.05424

In [11]:
song_table.describe().show()

+-------+------------------+--------------------+------------------+------------------+------------------+
|summary|           song_id|               title|         artist_id|              year|          duration|
+-------+------------------+--------------------+------------------+------------------+------------------+
|  count|                24|                  24|                24|                24|                24|
|   mean|              null|                null|              null|1247.5416666666667| 266.3679816666666|
| stddev|              null|                null|              null| 987.1838284898532|153.93509253643595|
|    min|SOABWAP12A8C13F82A|A Poor Recipe For...|AR0MWD61187B9B2B12|                 0|         118.07302|
|    max|SOXZYWX12A6310ED0C|Welcome to the Pl...|ARZKCQM1257509D107|              2009|         821.05424|
+-------+------------------+--------------------+------------------+------------------+------------------+

In [12]:
import os
if not os.path.exists('data/output_data'):
    os.makedirs('data/output_data')

In [13]:
#https://sparkbyexamples.com/pyspark/pyspark-read-and-write-parquet-file/
    

song_table.write.mode("overwrite").partitionBy("year", "artist_id").parquet(output_data + "song_table.parquet")

In [14]:
song_table_read = spark.read.parquet(output_data + "song_table.parquet")

In [15]:
song_table_read.printSchema()
song_table_read.limit(5).toPandas()

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

,song_id,title,duration,year,artist_id
0,SOKTJDS12AF72A25E5,Drown In My Own Tears (24-Bit Digitally Remast...,192.52200,0,ARA23XO1187B9AF18F
1,SOEKAZG12AB018837E,I'll Slap Your Face (Entertainment USA Theme),129.85424,2001,ARSVTNL1187B992A91
2,SOAFBCP12A8C13CC7D,King Of Scurf (2007 Digital Remaster),301.40036,1972,ARTC1LV1187B9A4858
3,SORRNOC12AB017F52B,The Last Beat Of My Heart (b-side),337.81506,2004,ARSZ7L31187FB4E610
4,SOQPWCR12A6D4FB2A3,A Poor Recipe For Civic Cohesion,118.07302,2005,AR73AIO1187B9AD57B

In [16]:
song_table_read.describe().show()

+-------+------------------+--------------------+------------------+------------------+------------------+
|summary|           song_id|               title|          duration|              year|         artist_id|
+-------+------------------+--------------------+------------------+------------------+------------------+
|  count|                24|                  24|                24|                24|                24|
|   mean|              null|                null| 266.3679816666666|1247.5416666666667|              null|
| stddev|              null|                null|153.93509253643597| 987.1838284898533|              null|
|    min|SOABWAP12A8C13F82A|A Poor Recipe For...|         118.07302|                 0|AR0MWD61187B9B2B12|
|    max|SOXZYWX12A6310ED0C|Welcome to the Pl...|         821.05424|              2009|ARZKCQM1257509D107|
+-------+------------------+--------------------+------------------+------------------+------------------+

In [17]:
song_data_df.createOrReplaceTempView("artist_data_DF")

artist_table = spark.sql("""
    SELECT
        DISTINCT artist_id,
                 artist_name as name,
                 artist_location as location,
                 artist_latitude as latitude,
                 artist_longitude as longitude
        FROM artist_data_DF
        ORDER BY artist_id
                 """)

artist_table.printSchema()
artist_table.limit(5).toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

,artist_id,name,location,latitude,longitude
0,AR0MWD61187B9B2B12,International Noise Conspiracy,,NaN,NaN
1,AR10USD1187B99F3F1,Tweeterfriendly Music,"Burlington, Ontario, Canada",NaN,NaN
2,AR1C2IX1187B99BF74,Broken Spindles,,NaN,NaN
3,AR1KTV21187B9ACD72,Cristina,California - LA,34.05349,-118.24532
4,AR5LMPY1187FB573FE,Chaka Khan_ Rufus,"Chicago, IL",41.88415,-87.63241

In [18]:
artist_table.write.mode("overwrite").parquet(output_data + "artist_table.parquet")

In [19]:
artist_table_df = spark.read.parquet(output_data + "artist_table.parquet")

artist_table_df.printSchema()
artist_table_df.limit(5).toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

,artist_id,name,location,latitude,longitude
0,ARTC1LV1187B9A4858,The Bonzo Dog Band,"Goldsmith's College, Lewisham, Lo",51.45360,-0.01802
1,ARA23XO1187B9AF18F,The Smithereens,"Carteret, New Jersey",40.57885,-74.21956
2,AR73AIO1187B9AD57B,Western Addiction,"San Francisco, CA",37.77916,-122.42005
3,AR10USD1187B99F3F1,Tweeterfriendly Music,"Burlington, Ontario, Canada",NaN,NaN
4,AR5LMPY1187FB573FE,Chaka Khan_ Rufus,"Chicago, IL",41.88415,-87.63241

# Load Log Data

In [20]:
# https://thispointer.com/python-how-to-unzip-a-file-extract-single-multiple-or-all-files-from-a-zip-archive/
# Unzip the log_data file into new folder
with ZipFile('data/log-data.zip', 'r') as zipObj:
   # Extract all the contents of zip file in current directory
   zipObj.extractall('data/log-data')

In [21]:
log_data_df = spark.read.json(log_data)

In [22]:
log_data_df.printSchema()
log_data_df.limit(5).toPandas()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,None,Logged In,Wyatt,M,0,Scott,NaN,free,"Eureka-Arcata-Fortuna, CA",GET,Home,1.540872e+12,563,None,200,1542247071796,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,9
4,None,Logged In,Austin,M,0,Rosales,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.541060e+12,521,None,200,1542252577796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,12

In [23]:
log_data_filtered_df = log_data_df.filter(log_data_df.page == 'NextSong')

log_data_filtered_df.limit(5).toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540493e+12,597,Blackbird,200,1542253449796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",61
4,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,602,Best Of Both Worlds (Remastered Album Version),200,1542260935796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80

In [24]:
log_data_filtered_df.createOrReplaceTempView("user_table_DF")

user_table = spark.sql("""
    SELECT DISTINCT int(userId) as user_id,
                    firstName as first_name,
                    lastName as last_name,
                    gender,
                    level
    FROM user_table_DF
    ORDER BY user_id
                    """)
user_table.printSchema()
user_table.limit(5).toPandas()

root
 |-- user_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

   user_id first_name last_name gender level
0        2    Jizelle  Benjamin      F  free
1        3      Isaac    Valdez      M  free
2        4     Alivia   Terrell      F  free
3        5     Elijah     Davis      M  free
4        6    Cecilia     Owens      F  free

In [25]:
user_table.write.mode("overwrite").partitionBy("user_id").parquet(output_data + "user_table.parquet")

In [26]:
user_table = spark.read.parquet(output_data + 'user_table.parquet')

user_table.printSchema()
user_table.limit(5).toPandas()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)
 |-- user_id: integer (nullable = true)

   first_name  last_name gender level  user_id
0    Mohammad  Rodriguez      M  free       88
1    Mohammad  Rodriguez      M  paid       88
2  Jacqueline      Lynch      F  free       29
3  Jacqueline      Lynch      F  paid       29
4     Kinsley      Young      F  free       85

In [27]:
#https://stackoverflow.com/questions/51983037/convert-from-timestamp-to-specific-date-in-pyspark

from pyspark.sql.functions import udf
from datetime import datetime
from pyspark.sql import types as t
# Create a function that returns the desired string from a timestamp

def format_timestamp(ts):
    return datetime.fromtimestamp(ts / 1000.0)

# Create the UDF
format_timestamp_udf = udf(lambda x: format_timestamp(x), t.TimestampType())

# Finally, apply the function to each element of the 'timestamp' column
log_data_filtered_df = log_data_filtered_df.withColumn('timestamp', format_timestamp_udf(log_data_filtered_df['ts']))

In [28]:
log_data_filtered_df.printSchema()
log_data_filtered_df.limit(5).toPandas()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId,timestamp
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:30:26.796
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:41:21.796
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:45:41.796
3,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540493e+12,597,Blackbird,200,1542253449796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",61,2018-11-15 03:44:09.796
4,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,602,Best Of Both Worlds (Remastered Album Version),200,1542260935796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 05:48:55.796

In [29]:
#https://stackoverflow.com/questions/51983037/convert-from-timestamp-to-specific-date-in-pyspark

from pyspark.sql.functions import udf
from datetime import datetime
from pyspark.sql import types as t
# Create a function that returns the desired string from a timestamp

def format_datetime(ts):
    return datetime.fromtimestamp(ts / 1000.0).strftime('%Y-%m-%d %H:%M:%S')

# Create the UDF
format_datetime_udf = udf(lambda x: format_datetime(x), t.StringType())

# Finally, apply the function to each element of the 'timestamp' column
log_data_filtered_df = log_data_filtered_df.withColumn('datetime', format_datetime_udf(log_data_filtered_df['ts']))

In [30]:
log_data_filtered_df.printSchema()
log_data_filtered_df.limit(5).toPandas()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- datetime: string (nullable = true)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId,timestamp,datetime
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:30:26.796,2018-11-15 00:30:26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:41:21.796,2018-11-15 00:41:21
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:45:41.796,2018-11-15 00:45:41
3,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540493e+12,597,Blackbird,200,1542253449796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",61,2018-11-15 03:44:09.796,2018-11-15 03:44:09
4,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,602,Best Of Both Worlds (Remastered Album Version),200,1542260935796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 05:48:55.796,2018-11-15 05:48:55

In [31]:
log_data_filtered_df.createOrReplaceTempView("time_table_DF")

time_table = spark.sql("""
    SELECT DISTINCT datetime as start_time,
            hour(timestamp) as hour,
            day(timestamp) as day,
            weekofyear(timestamp) as week,
            month(timestamp) as month,
            year(timestamp) as year,
            dayofweek(timestamp) as weekday
    FROM time_table_DF
    ORDER BY start_time """)

time_table.printSchema()
time_table.limit(5).toPandas()

root
 |-- start_time: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

            start_time  hour  day  week  month  year  weekday
0  2018-11-01 21:01:46    21    1    44     11  2018        5
1  2018-11-01 21:05:52    21    1    44     11  2018        5
2  2018-11-01 21:08:16    21    1    44     11  2018        5
3  2018-11-01 21:11:13    21    1    44     11  2018        5
4  2018-11-01 21:17:33    21    1    44     11  2018        5

In [32]:
time_table.write.mode("overwrite").partitionBy("year", "month").parquet(output_data + "time_table.parquet")

In [33]:
time_table = spark.read.parquet(output_data + "time_table.parquet")

time_table.printSchema()
time_table.limit(5).toPandas()

root
 |-- start_time: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

            start_time  hour  day  week  weekday  year  month
0  2018-11-05 18:34:59    18    5    45        2  2018     11
1  2018-11-05 18:36:22    18    5    45        2  2018     11
2  2018-11-05 18:37:12    18    5    45        2  2018     11
3  2018-11-05 18:41:01    18    5    45        2  2018     11
4  2018-11-05 18:41:34    18    5    45        2  2018     11

In [34]:
# https://sparkbyexamples.com/pyspark/pyspark-join-explained-with-examples/

song_log_join_df = song_data_df.join(log_data_filtered_df, (log_data_filtered_df.artist == song_data_df.artist_name) & (log_data_filtered_df.song == song_data_df.title))

song_log_join_df.printSchema()
song_log_join_df.limit(5).toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- datetime: string (nullable = true)

Empty DataFrame
Columns: [artist_id, artist_latitude, artist_location, artist_longitude, artist_name, duration, num_songs, song_id, title, year, artist, auth, firstName, gender, itemInSession, lastName, length, level, location, method, page, registration, sessionId, song, status, ts, userAgent, userId, timestamp, datetime]
Index: []

[0 rows x 30 columns]

In [45]:
# https://stackoverflow.com/questions/46213986/how-could-i-add-a-column-to-a-dataframe-in-pyspark-with-incremental-values

from pyspark.sql.functions import monotonically_increasing_id

song_log_join_df = song_log_join_df.withColumn("songplay_id", monotonically_increasing_id())

song_log_join_df.createOrReplaceTempView('songplay_table_df')

songplay_table = spark.sql("""
    SELECT  songplay_id,
            timestamp as start_time,
            userId as user_id,
            level,
            song_id,
            artist_id,
            sessionId as session_id,
            location,
            userAgent as user_agent,
            year(timestamp) as year,
            month(timestamp) as month
    FROM songplay_table_df
    ORDER BY (user_id, session_id)
            """)

songplay_table.printSchema()
songplay_table.limit(5).toPandas()

root
 |-- songplay_id: long (nullable = false)
 |-- start_time: timestamp (nullable = true)
 |-- user_id: string (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- session_id: long (nullable = true)
 |-- location: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

Empty DataFrame
Columns: [songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent, year, month]
Index: []

In [46]:
songplay_table.write.mode("overwrite").partitionBy('year', 'month').parquet(output_data + "songplay_table.parquet")

In [48]:
songplay_table = spark.read.parquet(output_data + "songplay_table.parquet")

songplay_table.limit(5).toPandas()

AnalysisException: 'Unable to infer schema for Parquet. It must be specified manually.;'